.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Tasks {
  list-style-type: none;
  padding: 0;
}

.SubTasks {
  list-style-type: square;
}

.DropTitle {
  display: inline;
}

.DropBut {
  display: inline;
}